:root {
  --amplify-primary-color: #ae00ff;
  --amplify-primary-tint: #fa5bff;
  --amplify-primary-shade: #9a5bff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

amplify-sign-up {
  color: mediumaquamarine;
}
